/** Look and feel for app **/
body {
    background-color: #eee;
    font-family: sans-serif;
}

/** Global styles for re-use **/
/** TODO: Use a CSS pre-processor such as SASS **/
.app-card {
    padding: 15px;
}

.app-card > .app-card__title {
    font-size: large;
    font-weight: bold;
}

.app-card > .app-card__body {
    font-size: small;
}

.app-card > .app-card__body > ul {
    padding: 0;
    list-style: none;
}

.app-card > .app-card__body > ul > li {
    margin-bottom: 5px;
}